* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  padding: 0 16px;
  background-color: #fff;
  display: flex;
  display: block;
  height: auto;
  }

.page {
  background-color: #e7f3f9;
  padding: 20px 30px 20px 30px;
  font-family: 'Fredoka', sans-serif;
  margin: auto;
  height: auto;
  overflow: hidden;
  margin: nocollapse
  }

.logo{
  display: block;
  width: auto;
  padding-right: 20px;
}

img {
  display: block;
  float: left;
  overflow: hidden;
}

.navbar {
  background-color: #403241;
  display: block;
  margin-top: 130;
  float: right;
}

.navbar a {
  float: left;
  display: block;
  color: #e9fbfb;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  width: auto;
}

.navbar a:active{
  text-decoration: underline;
  text-decoration-color: #e9fbfb;
}

.navbar a:hover{
  font-weight: 700;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

header {
  padding: 95px 20px 40px 60px;
}

h1{
  position: relative;
  left: 20px;
  color: #403241;
}

h2{
  color: #403241;
}

.container {
  display: flex;
  text-align: space-between;
}

.british-library{
  width: 33%;
}

.section{
 display: block;
 width: 60%;
 margin-left: 30px;
}

p {
  display: block;
  margin-bottom: 15px;
  font-size: 23px;
}

p:

p:section:first-of-type{
  font-style: italic;
}

p:last-of-type {
  padding-bottom: 30px;
}

.gallery-works {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.work-item {
  width: 45%;
  height: 200px;
  margin-bottom: 20px;
  background-color: #403241;
  padding: 15px;
  color: #e9fbfb;
  }

  .work-item a {
    display: block;
    color: #e9fbfb;
    text-align: left;
    font-size: 23px;
    text-decoration: none;
    width: auto;
  }

  .work-item a:active {
    text-decoration: underline;
    text-decoration-color: #e9fbfb;
  }

  .work-item a:hover {
    font-weight: 700;
  }

  .work-item p {
    font-size: 20 px;
    font-style: italic;
  }

@media only screen and (min-width:960px){
  .page{
    width: 900px;
    align-content: center;
  }
}
